<div class="container">
  <div class="row">
    <div cdkDropList #left="cdkDropList" [cdkDropListData]="cols1" [cdkDropListConnectedTo]="[right]"
      (cdkDropListDropped)="drop($event, 1)" class="col outerBox" [style.backgroundColor]="cols1.backgroundColor"
      [style.color]="cols1.color">

      <div cdkDrag [cdkDragData]="child" *ngFor="let child of cols1.childs" class="card">
        <div class="card-title">{{ child.childName }}</div>
        <div class="card-body"></div>
      </div>

    </div>

    <div cdkDropList #right="cdkDropList" [cdkDropListData]="cols2" [cdkDropListConnectedTo]="[left]"
      (cdkDropListDropped)="drop($event, 2)" class="col outerBox" [style.backgroundColor]="cols2.backgroundColor"
      [style.color]="cols2.color">

      <div cdkDrag [cdkDragData]="child" *ngFor="let child of cols2.childs" class="card">
        <div class="card-title">{{ child.childName }}</div>
        <div class="card-body"></div>
      </div>

    </div>
  </div>
</div>
